- @result.each do |result|
  .product
    - result[ES_SOURCE].delete ES_STAMP
    - result[ES_SOURCE].delete ES_ATTR

    .label.label-default= result[ES_SCORE]
    .label.label-info= result[ES_TYPE]
    .label.label-primary= result[ES_ID]

    .properties
      - result[ES_SOURCE].each do |key, val|
        %b=key
        = truncate(val.to_s, length: 30, omission: '...')
        %br
