%h2 Browse catalog

- @result.each do |result|
  %table.product
    %tr
      %td
        .label.label-info id
        = result[ES_ID]
        %br
        .label.label-info type
        = result[ES_TYPE]
        %br
        .label.label-info score
        = result[ES_SCORE]
      %td
        - result[ES_SOURCE].each do |key, val|
          .label.label-info=key
          = val
          %br
