/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *  = require twitter/bootstrap
 *= require_self
 *= require_tree .
 */


.topbar {
  background-color: #eee;
  padding: 20px;
  border-bottom: 1px solid silver;
  /*margin-bottom: 20px;*/
  }

.content {
  padding: 20px;
  }

.product {
  display: inline-block;
  border: 1px solid #ddd;
  width: 300px;
  float: left;
  margin: 0 10px 10px 0;
  padding: 30px;
  box-shadow: 2px 1px 2px #eee;
  }

.product .properties {
  font-size: 0.8em;
  margin-top: 10px
  }

body {
  padding: 0;
  }

table {
  border-collapse: collapse;
  }

table td {
  padding: 2px 4px;
  border: 1px solid silver;
  vertical-align: top;
  }
